@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
    padding: 20px 30px;
    background-color: #1B263B;
    color: #E0E1DD;

}

h1 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}