.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-input {
    margin: 0 15px;
    font-size: 1.2rem;
    color: #1B263B;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
}

.pagination-input:disabled {
    visibility: hidden;
}

.pagination span {
    font-size: 1.5rem;
    font-weight: bolder;
}